DISCORD_TOKEN=
GUILD_ID=
LANGUAGE=ru
POLL_SECONDS=120
MAX_SEND_PER_POLL=5
BANNER_ENABLED=false
BANNER_DEBOUNCE_SECONDS=5
BANNER_COOLDOWN_SECONDS=60
BACKGROUND=assets/background.png
EXCLUDE_AFK=true
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
